*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font: 400 18px "Bai Jamjuree", sans-serif;
}

h1,
h2,
h3 {
  color: hsl(210deg, 10%, 33%);
}

h2,
h3 {
  letter-spacing: 0.1px;
}

p {
  letter-spacing: 0.1px;
  color: hsl(201deg, 11%, 66%);
}

img {
  width: 100%;
  height: auto;
}

.downloads {
  display: flex;
  width: 470px;
  justify-content: space-between;
  font-weight: 600;
}
.downloads .download {
  width: 225px;
  height: 57px;
  border-radius: 26px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  border: none;
  border-bottom: 1px solid;
  letter-spacing: 2.2px;
  cursor: pointer;
}
.downloads .download.ios {
  box-shadow: 0px 6px 25px hsla(171deg, 66%, 44%, 0.6);
  background-color: hsl(171deg, 66%, 44%);
  border-color: hsl(171deg, 66%, 30%);
}
.downloads .download.mac {
  box-shadow: 0px 6px 25px hsla(233deg, 100%, 69%, 0.3);
  background-color: hsl(233deg, 100%, 69%);
  border-color: hsl(233deg, 100%, 59%);
}

header {
  background: url(/images/bg-header-desktop.png) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 130px 0 121px;
}
header .logo {
  -webkit-mask: url(/images/logo.svg);
          mask: url(/images/logo.svg);
  width: 125px;
  height: 125px;
  background-color: hsl(171deg, 66%, 44%);
}
header h1 {
  margin: 60px 0 0 0;
  font-size: 44px;
  letter-spacing: 0.2px;
  color: hsl(210deg, 10%, 33%);
}
header .description-header {
  width: 50%;
  font-size: 20px;
  letter-spacing: 0.2px;
  margin: 17px 0 50px;
  line-height: 28px;
  color: hsl(201deg, 11%, 66%);
}

main h2 {
  font-size: 35px;
  color: hsl(210deg, 10%, 33%);
}
main .snippets-track {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
main .snippets-track h2 {
  margin: 29px 0 0;
}
main .snippets-track .tracking-description {
  width: 50%;
  margin: 20px 0 20px;
  line-height: 30px;
  color: hsl(201deg, 11%, 66%);
}
main .snippets-track .snippets-features {
  display: flex;
  width: 100%;
  margin-top: 30px;
  min-height: 653px;
}
main .snippets-track .snippets-features .mac-photo {
  display: flex;
  align-items: center;
  width: 52%;
}
main .snippets-track .snippets-features .mac-photo img {
  margin: -20px -30px 0;
}
main .snippets-track .snippets-features .advantages {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: center;
  justify-content: center;
  width: 38%;
}
main .snippets-track .snippets-features .advantages div {
  width: 70%;
  display: flex;
  flex-direction: column;
}
main .snippets-track .snippets-features .advantages div h3 {
  font-size: 23px;
  margin-bottom: 9px;
}
main .snippets-track .snippets-features .advantages div p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 56px;
  width: 85%;
  min-width: 340px;
}
main .clipboard-access {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .clipboard-access p {
  width: 50%;
  margin-top: 20px;
  line-height: 30px;
}
main .clipboard-access .devices {
  margin-top: 100px;
}
main .clipboard-supercharge {
  margin: 66px 0 3px;
}
main .clipboard-supercharge h2 {
  margin-bottom: 23px;
}
main .clipboard-supercharge .features {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
main .clipboard-supercharge .features .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 26.4%;
  margin: 0;
  padding-top: 0;
}
main .clipboard-supercharge .features .feature .feature-img {
  height: 40px;
}
main .clipboard-supercharge .features .feature h3 {
  margin: 37px 0 17px;
  font-size: 23px;
}
main .clipboard-supercharge .features .feature p {
  font-size: 16px;
  width: 95%;
  line-height: 30px;
}
main .partners {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 77%;
  margin: 155px auto;
}
main .download-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .download-options h2 {
  margin-bottom: 18px;
}
main .download-options p {
  width: 50%;
  line-height: 30px;
  margin-bottom: 48px;
}

footer {
  margin-top: 148px;
  padding: 0 95px 0;
  width: 100%;
  height: 25%;
  background-color: hsla(201deg, 11%, 66%, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .container {
  display: flex;
  align-items: center;
  width: 82%;
  height: 100%;
  padding-left: 16px;
}
footer .container .logo {
  -webkit-mask: url(/images/logo.svg);
          mask: url(/images/logo.svg);
  width: 125px;
  height: 125px;
  background-color: hsl(171deg, 66%, 44%);
  transform: scale(0.44);
}
footer .container .footer-options {
  height: 86px;
  width: 57%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px 0px 0 100px;
  line-height: 43px;
  text-align: start;
}
footer .container .footer-options span a {
  text-decoration: none;
  color: hsl(210deg, 10%, 33%);
}
footer .container .footer-options span a:hover {
  color: hsl(171deg, 66%, 44%);
}
footer .social-media {
  width: 120px;
  height: 50px;
  margin-right: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .social-media div {
  cursor: pointer;
}
footer .social-media div:hover {
  background-color: hsl(171deg, 66%, 44%);
}
footer .social-media .facebook {
  -webkit-mask: url(/images/icon-facebook.svg);
          mask: url(/images/icon-facebook.svg);
  background-color: hsl(210deg, 10%, 33%);
  width: 25px;
  height: 25px;
}
footer .social-media .twitter {
  -webkit-mask: url(/images/icon-twitter.svg);
          mask: url(/images/icon-twitter.svg);
  background-color: hsl(210deg, 10%, 33%);
  width: 25px;
  height: 20px;
}
footer .social-media .instagram {
  -webkit-mask: url(/images/icon-instagram.svg);
          mask: url(/images/icon-instagram.svg);
  background-color: hsl(210deg, 10%, 33%);
  width: 25px;
  height: 24px;
}

@media (max-width: 1100px) {
  main .partners {
    grid-template-columns: repeat(3, auto);
  }
}
@media (max-width: 850px) {
  .downloads {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .downloads .download {
    width: 82%;
  }
  .downloads .download.ios {
    margin-bottom: 24px;
  }
  header {
    padding: 124px 0 121px;
    background-image: url(/images/bg-header-mobile.png);
    background-size: cover;
  }
  header h1 {
    width: 85%;
    font-size: 30px;
    letter-spacing: 0.4px;
    margin-top: 63px;
    line-height: 40px;
  }
  header .description-header {
    width: 84%;
    font-size: 16px;
    line-height: 25px;
  }
  main h2 {
    font-size: 27px;
    width: 90%;
    color: #4c545d;
  }
  main .snippets-track {
    margin-bottom: 140px;
  }
  main .snippets-track h2 {
    margin: 38px 0 0;
  }
  main .snippets-track .tracking-description {
    width: 80%;
    font-size: 16px;
    margin: 16px 0 20px;
    line-height: 26px;
  }
  main .snippets-track .snippets-features {
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin-top: 47px;
  }
  main .snippets-track .snippets-features .mac-photo {
    padding: 0;
    width: 83%;
    margin-bottom: 52px;
  }
  main .snippets-track .snippets-features .mac-photo img {
    margin: 0;
  }
  main .snippets-track .snippets-features .advantages {
    width: 100%;
  }
  main .snippets-track .snippets-features .advantages div {
    align-items: center;
    text-align: center;
    width: 100%;
  }
  main .snippets-track .snippets-features .advantages div p {
    min-width: unset;
    width: 80%;
    line-height: 27px;
    margin-bottom: 47px;
  }
  main .clipboard-access h2 {
    text-transform: capitalize;
  }
  main .clipboard-access p {
    width: 85%;
    margin-top: 17px;
    line-height: 26px;
    font-size: 16px;
  }
  main .clipboard-access .devices {
    width: 92%;
    margin-top: 60px;
  }
  main .clipboard-supercharge {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 93px 0 3px;
  }
  main .clipboard-supercharge h2 {
    margin-bottom: 13px;
  }
  main .clipboard-supercharge p {
    font-size: 16px;
    width: 90%;
    line-height: 25px;
  }
  main .clipboard-supercharge .features {
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
  }
  main .clipboard-supercharge .features .feature {
    width: 100%;
  }
  main .clipboard-supercharge .features .feature h3 {
    width: 80%;
    margin: 42px 0 18px;
  }
  main .clipboard-supercharge .features .feature p {
    font-size: 16px;
    width: 85%;
    line-height: 26px;
    margin-bottom: 56px;
  }
  main .clipboard-supercharge .features .feature:nth-child(2) .feature-img {
    margin-bottom: -7px;
  }
  main .partners {
    margin: 74px auto 166px;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    gap: 55px 0;
  }
  main .partners .partner {
    max-width: 140px;
    margin: 0 auto;
  }
  main .partners .partner:nth-child(2) {
    max-width: 125px;
  }
  main .partners .partner:nth-child(3) {
    max-width: 137px;
    padding: 5px 0;
  }
  main .partners .partner:nth-child(4) {
    max-width: 113px;
  }
  main .partners .partner:nth-child(5) {
    max-width: 108px;
    margin-top: -3px;
  }
  main .download-options h2 {
    width: 75%;
  }
  main .download-options p {
    width: 83%;
    font-size: 16px;
    line-height: 26px;
  }
  footer {
    flex-direction: column;
    height: 490px;
    margin-top: 183px;
    padding: 0;
    justify-content: unset;
  }
  footer .container {
    flex-direction: column;
    padding: 0;
    height: 76%;
  }
  footer .container .footer-options {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    margin: 0;
    height: unset;
    width: 100%;
    line-height: 50px;
  }
  footer .social-media {
    margin: 23px 0 0;
    width: 152px;
  }
}/*# sourceMappingURL=styles.css.map */